body {
    padding-top: 10px;
}
.all_bg{
    width: 800px;
    height: 600px;
    margin: 0px auto;
}
.allcanvas{
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0px;
}
#canvas1{
    position: absolute;
    top: 50px;
    left: 15px;
    z-index: 1;
}
#canvas2{
    position: absolute;
    top: 50px;
    left: 15px;
    z-index: 0;
}